html, body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	line-height: 1.4;
	display: flexbox;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
.container{
    overflow: hidden;
}
.content_wrap{
	width: 75%;
	margin: auto;
	padding: 5%;
}

.content{
	font-size: 1rem;
	text-align: left;
	flex-basis: 70%;
	padding: 1rem 0 4rem 0;
	position:relative;
	
}

li{
	margin-bottom: 1rem;
}

.header{
	font-size: 2em;
	font-weight: 200;
	text-align: center;
}
/*Navigation Bar*/
.navbar{
	width: 100%;
	font-size: 1.5em;
	overflow: hidden;
}

.navbar a{
	color: #46b5ff
}

a {
	text-decoration: none;
	color: #46b5ff;
}

a:hover{
	cursor: pointer;
}


#Home {
	height: 100%;
	margin: 0 auto;
	padding-bottom: 7%;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

/*Profile*/
.profile__wrap {
	height: 100%;
	
}

.profile__info h1 {
	font-size: 2.5em;
	width:17ch;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	margin: auto;
}

.greetings {
	animation: typing 2s steps(19), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 2em;
}


.profile__intro {
	width:70%;
	margin: auto;
	padding: 1rem 10px;
	line-height: 1.5;
	text-align: center;
}
.profile__info {
	text-align: center;
	flex-basis: 70%;
	display: inline-block;
}

.profile__info p {
	position: relative;
}

.contact {
	padding: 8px 2rem;
	text-decoration: none;
	border-radius: 99rem;
	border: 2px solid #46b5ff;
	background: linear-gradient(to left, white 50%, #46b5ff 50%);
	background-size: 200% 100%;
    background-position:right bottom;
	color: #46b5ff;;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
	transition: all .25s ease;
}

.contact:hover {
	background-position: left bottom;
	color: white
}

.social__links {
	margin-top: 1rem;
	list-style: none;
	padding-left: 5px;
}

.social__links li {
	display: inline-block;
	
	font-size: 25px;
}

.social__links a {

	align-items: center;
	font-size: 14px;
	padding: 0px 5px;
	text-decoration: none;
}

.social__links a:hover {
	text-decoration: underline;
}

#About{
	
	background-color: rgb(24, 22, 22);
	color: white;
}

.resume {
	background: linear-gradient(to right, #46b5ff 50%, white 50% );
	background-size: 200% 100%;
	color: white;
}

.resume:hover {
	background-position: right bottom;
	color:#46b5ff;
}

#Skills{
	flex-basis: 70%;
	width: 100%;
	
	text-align: center;
	padding: 3% 10% 0 10%;;
}

#Project{
	flex-basis: 70%;
	width: 100%;
	padding-bottom: 5%;
}

.highlight {
	color:#46b5ff;
}

img {
	
	width: 100%;
	height: 600 px;
	object-fit: cover;
	transition: scale .2s;
	margin:1rem
}

.icon {
	width: 20px;
}

h3 {
	margin: 0;
}

#Project .container .animate:nth-child(2n) {
	animation-duration: 2s;
	animation-name: slideInLeft;
}

#Project .container .animate:nth-child(2n+1) {
	animation-duration: 2s;
	animation-name: slideInRight;
}

@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes typing {
	from {
	  width: 0
	}
  }
	  
@keyframes blink {
	50% {
		border-color: transparent
	}
}

@media screen and (max-width:500px){
	.content{
		font-size: 1em;
	}
	.header{
		font-size: 1em;
		padding-top: 3%;
		text-align: center;
	}
	.profile__photo{
		width: 130px;
		height: 130px;
	}
	.profile__info h1{
		font-size: 1.3em;
	}
	#Skills{
		height: 70%;
	}
	#About{
		height: 120%;
		align-content: center;
	}
	.nav-link{
		font-size: .7em;
	}
}

